.user-info {
    width: 25%;
    margin-right: 16px;
}

.user-fullname {
    display: block;
    line-height: 30px;
}

.user-username {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.user-bio {
    font-size: 14px;
    color: #6a737d;
    margin-bottom: 16px;
}

.user-bio>button {
    width: 100%;
}

.user-details {
    padding-top: 16px;
    border-top: 1px #e1e4e8 solid;
    font-size: 14px;
}

.user-details>ul>li {
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-details>ul>li>svg {
    float: left;
    margin-right: 5px;
}

@media only screen and (max-width: 320px) {
    .user-info {
        width: 100%;
        margin-right: 0;
    }
    .user-name {
        text-align: center;
    }
}